body {
  background-color: white;
  margin: 0;
}

.logo {
  height: 100px;
  width: 130px;
  display: inline-block;
  margin: 15px;
}

ul li a {
  display: inline;
  padding: 0 1.0%;
}

#navbar {
  overflow: hidden;
  positon: fixed;
  top: 0;
  background-image: url("https://media.giphy.com/media/10l2FXjFq1rXKU/giphy.gif");
  padding-right: 7%;
  width: 100%;

}

#navbar ul li {
  display: inline;
  padding: 0px 30px;
  width: 100%;s

}

.section-1 {
  height: 800px;
  background-color: #0f52ba;
  font-size: 10px;
  width: 100%;
}

h1,h2,h3,h4 {
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

p {
  color: #858585;
  padding-bottom: 2%;
  width: 60%;
  margin-left: 10%;
}

img {
  width: 24.5%;
  padding-left: 8%;
  Padding-right: 8%;
  height: 305px;
  border-radius: 8px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.section-2 {
  height: 800px;
  width: 100%;
  background-color: white;

}


/* .img-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */


.section-3 {
  height: 800px;
  width: 100%;
  background-color: #0f52ba;
}

.section-4 {
  background-color: white;
  height: 800px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

figure {
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: 4px dotted blue;
  margin: 0.5em;
  padding: 0.5em;
}
/* .scaled {
  width: 90%;
} */

.container {
  display: grid;
  grid-template: 100px / 450px 450px 450px;
}

.container {
  display: grid;
  grid-template: 100px / 450px 450px 450px;
}

.grid-item {
  width: 250px;
}

.grid-item0 {
  width: 250px;
}



/*
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
} */
